#calculator {
    background: linear-gradient(silver, white, gray);
    background-color: silver;
    height: 500px;
    width: 300px;
    padding:10px;
    border-radius: 10px;
    border-right-color: gray;
    border-right-style: outset;
    border-right-width: 9px;
    border-bottom-color: gray;
    border-bottom-style: outset;
    border-bottom-width: 9px;



}

.buttons {
    background-color: black;
    height:50px;
    width: 50px;
    margin: 10px 12px 10px 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    line-height: 46px;
    border-right-style: inset;
    border-right-color: white;
    border-bottom-style: inset;
    border-bottom-color: white;
    border-top-style: none;
    border-top-color: black;
    border-left-style: none;
    border-left-color: black;
    border-width: 2px;


}

.operator, .clear {
    background-color: red;
    height:50px;
    width: 50px;
    margin: 10px 12px 10px 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    line-height: 46px;
    border-right-style: inset;
    border-right-color: black;
    border-bottom-style: inset;
    border-bottom-color: black;
    border-top-style: none;
    border-top-color: red;
    border-left-style: none;
    border-left-color: red;
    border-width: 2px;
}

.equals {
    background-color: red;
    height:50px;
    width: 120px;
    margin: 10px 12px 10px 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    line-height: 46px;
    border-right-style: inset;
    border-right-color: black;
    border-bottom-style: inset;
    border-bottom-color: black;
    border-top-style: none;
    border-top-color: red;
    border-left-style: none;
    border-left-color: red;
    border-width: 3px;
}


.hoverColor {
    background-color: blue;
}
#screen {
    background-color: lightgray;
    height: 75px;
    width: 260px;
    margin: auto auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 5px;
    border-style: inset;
    text-align:right;
    font-size: 30px;
    line-height: 2.5;
    padding: 5px;
    overflow: auto;



}
